In [10]:
'''
This code will grab USGS streamflow data for a defined period of interest 

'''

# first import the functions for downloading data from NWIS
import dataretrieval.nwis as nwis

# specify the USGS site code for which we want data.
site = ['01055000', '01054500']

# get instantaneous values (iv)
df = nwis.get_record(sites=site, service='iv', start='2017-12-01', end='2018-01-01')
df.reset_index(inplace=True) #reset index to grab station number and date
df_flow = df.iloc[:,0:3]
print(df_flow)

# start BMI USGS

       site_no                  datetime   00060
0     01054500 2017-12-01 00:00:00-05:00  3370.0
1     01054500 2017-12-01 00:15:00-05:00  3350.0
2     01054500 2017-12-01 00:30:00-05:00  3350.0
3     01054500 2017-12-01 00:45:00-05:00  3350.0
4     01054500 2017-12-01 01:00:00-05:00  3350.0
...        ...                       ...     ...
6139  01055000 2018-01-01 22:45:00-05:00     NaN
6140  01055000 2018-01-01 23:00:00-05:00     NaN
6141  01055000 2018-01-01 23:15:00-05:00     NaN
6142  01055000 2018-01-01 23:30:00-05:00     NaN
6143  01055000 2018-01-01 23:45:00-05:00     NaN

[6144 rows x 3 columns]

In [16]:
df

                                     00060 00060_cd  00065 00065_cd
site_no  datetime
01054500 2017-12-01 00:00:00-05:00  3370.0        A   4.39        A
         2017-12-01 00:15:00-05:00  3350.0        A   4.38        A
         2017-12-01 00:30:00-05:00  3350.0        A   4.38        A
         2017-12-01 00:45:00-05:00  3350.0        A   4.38        A
         2017-12-01 01:00:00-05:00  3350.0        A   4.38        A
...                                    ...      ...    ...      ...
01055000 2018-01-01 22:45:00-05:00     NaN      NaN   1.61        A
         2018-01-01 23:00:00-05:00     NaN      NaN   1.61        A
         2018-01-01 23:15:00-05:00     NaN      NaN   1.61        A
         2018-01-01 23:30:00-05:00     NaN      NaN   1.61        A
         2018-01-01 23:45:00-05:00     NaN      NaN   1.61        A

[6144 rows x 4 columns]