### **Import USGS Gage Data**

In [1]:
# Ensure to install dataretrieval package using 
# "conda install -c conda-forge dataretrieval"
import dataretrieval.nwis as nwis

import pandas as pd
import numpy as np
import random
import math

In [3]:
# specify the USGS site code for which we want data.
site = '03339000'


# get instantaneous values (iv)
df = nwis.get_record(sites=site, service='iv', start='2017-12-31', end='2018-01-01')
df.head(2)

,00010,00010_cd,site_no,00060,00060_cd,00065,00065_cd,"00095_ysi), [discontinued 10/5/21","00095_ysi), [discontinued 10/5/21_cd","00300_ysi), [discontinued 10/5/21",...,"00400_ysi), [discontinued 10/5/21","00400_ysi), [discontinued 10/5/21_cd",51289,51289_cd,"63680_ysi), [discontinued 10/5/21","63680_ysi), [discontinued 10/5/21_cd",63680_hach,63680_hach_cd,99133,99133_cd
datetime,,,,,,,,,,,,,,,,,,,,,
2017-12-31 00:00:00-06:00,1.0,A,03339000,140.0,A,2.40,A,831.0,A,15.0,...,8.5,A,0.1,A,6.1,A,3.6,A,4.61,A
2017-12-31 00:15:00-06:00,1.0,A,03339000,138.0,A,2.39,A,831.0,A,15.0,...,8.5,A,NaN,NaN,6.1,A,3.6,A,4.61,A

In [6]:
# # Load sites
# site_lists = ['03339000'] #['03339000', '06892000', '08080700']

# k=0
# for obs in zip(site_lists):
#     # get instantaneous values (iv)
#     df = nwis.get_record(sites=obs, service='iv', start='2017-12-31', end='2018-01-01')
#     print(df)
#     k+=1